<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="_initial_dubbo" class="com.sendtomoon.dubboCloud.InitialDubbo" lazy-init="false" >
        <property name="ipAddr" value="192.168.0.2"></property>
        <property name="zookeeper" value="zookeeper://192.168.0.28:20081"></property>
        </bean>
</beans>